@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i,600,600i,700,700i");

.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
  justify-content: space-between;	
  background-color: #e1dede;
}

.landing-img{
  background-image: url(https://twimg0-a.akamaihd.net/a/1350072692/t1/img/front_page/jp-mountain@2x.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#111;
	font-weight:bold;
	margin-top:1.5rem;
}

.example-components-list li > a {
  color: #495057;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:rgba(0,0,0,.35);
	float:right;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link{
	color: #282F33 !important;
	font-weight: 600 !important;
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
}

@media (max-width: 767px) and (min-width: 320px), (max-width: 850px) and (min-width: 800px){

	.navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
		background-color: #009688;
	}
	.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link{
		color: #fff !important;
		font-weight: 500 !important;
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
	}
}

.sm-login
{
	height: 10px;
    padding-top: 5px !important;
	padding-bottom: 20px !important;
	text-transform: capitalize !important;
    padding-left: 10px !important;
	padding-right: 10px !important;
	font-family: "Montserrat", sans-serif;
}

.company_name{
	text-transform: uppercase !important;
	font-family: "Montserrat", sans-serif;
	font-weight: 500 !important;
}



/* NAVGATION: */


.height400{
  height: 400px;;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}




.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}


.custome-card{
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    background-color: #fff;
    background-clip: border-box;
    font-weight: 400;
    border-radius: .25rem;
}