.container {
	width: 100%;
	margin: 0;
	max-width: unset;
	padding: 0!important;
	/* text-align: center; */
}

.btn-collection {
	margin-top: 20px;
}

.t-left{
	text-align: left !important;
}
.toast{
	position: "absolute";
	top : 0px;
}

#toast-container {
	top: 0 !important;
	right: 15px !important;
  }



  #preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	/* change if the mask should have another color then white */
	z-index: 99;
	/* makes sure it stays on top */
  }
  
  #status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally one the screen */
	top: 50%;
	/* centers the loading animation vertically one the screen */
	background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
  }

  .paddingLeft-0 {
	  padding-left: 0px !important
  }

  .p-0{
	  padding: 0px !important
  }
  .p-5{
	padding: 5px !important
  }

  .textalingLeft{
	  text-align: left
  }

  /*COlor*/

  .redText{
	  color: red !important
  }

div.dataTables_wrapper div.dataTables_length label{
	  width: 100%
}

.panel{
	border-radius: 6px;
	font-size: 15px;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.panel .panel-heading {
	position: relative;
	background: #227093;
	padding: 8px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	min-height: 51px;
	border-bottom: none;
}

.panel-heading .panel-title {
	width: 100%;
	color: #fff;
	font-size: 20px;
	line-height: 22px;
	text-transform: capitalize;
}
.panel-heading .panel-title h3{
	font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.panel-block {
	color: #222;
	display: block;
	padding: 10px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.panel-heading .panel-action {
    width: 100%;
    text-align: right;
}
.panel-action {
    position: relative;
}
.panel-action .btn.custom-btn{
	font-size: 12px;
  padding: 7px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
	margin: 0 0.375rem !important;
  padding: 10px 15px;
  background-color: #fff !important;
	font-weight: 500;
}
.no-data-label{
	padding: 15px;
	text-align: center;
	font-weight: 500;
}
.bg-grey{
	background-color: #c4c4c4 !important;
}
.w-full{
	width: 100% !important;
}
.title-text {
	margin: auto;
}
.title-text span{
	font-size: 20px;
	line-height: 22px;
	text-transform: capitalize;
	font-weight: 500;
}

.panel-heading.collection-header .link-block{
	color: #fff;
}
.panel-heading.collection-header .link-block span{
	padding: 10px;
	font-weight: 500;
	cursor: pointer;
	margin:  0 5px;
}
.panel-heading.collection-header span:hover{
	font-weight: 400;
}
.panel-heading.collection-header span:hover,.panel-heading.collection-header span.active-span{
	border-bottom: 1px solid #fff;
}
.custom-input-margin .md-form{
	margin: 5px
}
.cursor-pointer{
	cursor: pointer;
}

.hide{
	display: none !important;
}

.link-icon{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}